*~
*.elc
el-get

ac-comphist.dat
.smex-items
\#*
test.*.ido.last
.mc-lists.el
.python-environments/
anaconda-mode/
elpa/
eshell/
irony/
projectile-bookmarks.eld
semanticdb/
srecode-map.el
tramp
url/

.ido.last
test.c
test.org
test.py